body{
    margin: 0;
    padding:0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'DotGothic16', sans-serif;
color: rgb(60, 216, 45);
background-color: black;}
.container{
    width: 40%;

}
.card
{
    border-radius:2rem ;
    background: #00ff0037;
    box-shadow: 5px 5px 10px #54ff2a,-5px -5px 10px #54ff2a ;
    padding: 3%;
    text-align: center;
}
.card h4{
    font-size: 3rem ;
    font-weight: 500;
    margin:1rem 0;
}
img #icon{
   width:20% ;
}
h6 #wetaher{
    text-transform: capitalize;
}
button.refresh{
    display: block;
    width: 3rem;
    margin: 10px auto;
    background: transparent;
    border: 0;
    color: #54ff2a;
    font-size: 3rem;
    border-radius: 50%;
    box-shadow: 10px 4px 10px #54ff2a,5px 5px 10px #54ff2a ;
}
button.refresh:hover{
    box-shadow:inset 10px 4px 10px #487e3a ;
}